<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 log-icons mt-2">
            <p class="py-2"><i class="fas fa-phone"></i> Call Taxi : (236) 123 1234</p>
        </div>
        <div class="col-md-4 col-sm-6 logo">
            <a class="navbar-brand" href="index.html">
                <i class="fas fa-taxi"></i> Taxi Cab</a>
        </div>

        <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
            <span class="mx-lg-4 mx-md-2  mx-1">
                <a href="#">
                    <i class="fas fa-lock"></i> Sign In</a>
            </span>
            <span>
                <a href="#">
                    <i class="fas fa-user"></i> Register</a>
            </span>
        </div>
    </div>
</header>
</body>
</html>