<!DOCTYPE html>
<html lang="en" xmlns:th xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 log-icons mt-2">
            <p class="py-2"><i class="fas fa-phone"></i> Call Taxi : 236 123 1234</p>
        </div>
        <div class="col-md-4 col-sm-6 logo">
            <a class="navbar-brand" th:href="@{/home}">
                <i class="fas fa-taxi"></i> Taxi Cab</a>
        </div>

        <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
            <span class="mx-lg-4 mx-md-2 mx-1">
                <a th:href="@{/login}" sec:authorize="isAnonymous()">
                    <i class="fas fa-lock"></i> Sign In</a>
            </span>
            <span>
                <a th:href="@{/public/register}" sec:authorize="isAnonymous()">
                    <i class="fas fa-user"></i> Register</a>
            </span>
            <span>
                <a th:href="@{/profile}" sec:authorize="isAuthenticated()">
                    <i class="fas fa-user-circle"></i> Profile</a>
            </span>
            <span>
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()">
                    <i class="fas fa-sign-out-alt"></i> Log Out</a>
            </span>
        </div>
    </div>
</header>
</body>
</html>