<!DOCTYPE html>
<html lang="en" xmlns:th xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Taxi Cab Booking | Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

    <!-- css files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/assets/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <div th:replace="partials/header :: header"></div>

    <div class="banner" id="home">
        <div th:replace="partials/secondHeader :: header"></div>
    </div>

    <section class="py-5">
        <div class="container py-lg-5 py-3">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/contact}">
                <button type="button" class="btn btn-light">Go to admin portal</button>
            </a>
            <div class="alert alert-danger" role="alert"
                 th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}"></div>
            <div class="alert alert-danger" role="alert"
                 th:each="error: ${#fields.errors('person.address.*')}" th:text="${error}"></div>
            <div class="alert alert-success" role="alert"
                 th:if="${!#strings.isEmpty(message)}" th:text="${message}"></div>
            <div class="alert alert-danger" role="alert"
                 th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></div>
            <h3 class="heading text-capitalize text-center">Profile</h3>
            <form th:action="@{/updateProfile}" method="post" th:object="${person}">
                <div class="form-group">
                    <label th:for="*{username}" class="col-form-label">Username (Cannot be changed)</label>
                    <input type="text" class="form-control" placeholder="Username" th:field="*{username}" required disabled>
                </div>
                <div class="form-group">
                    <label th:for="*{email}" class="col-form-label mandatory-field">Email</label>
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required>
                </div>
                <div class="form-group">
                    <label th:for="*{address.streetAddress}" class="col-form-label mandatory-field">Street address</label>
                    <input type="text" class="form-control" placeholder="Street address" th:field="*{address.streetAddress}">
                </div>
                <div class="form-group">
                    <label th:for="*{address.city}" class="col-form-label mandatory-field">City</label>
                    <input type="text" class="form-control" placeholder="City" th:field="*{address.city}">
                </div>
                <div class="form-group">
                    <label th:for="*{address.regionOrCountry}" class="col-form-label mandatory-field">Region/Country</label>
                    <input type="text" class="form-control" placeholder="Region/Country" th:field="*{address.regionOrCountry}">
                </div>
                <div class="form-group">
                    <label th:for="*{address.zipCode}" class="col-form-label mandatory-field">Zip code</label>
                    <input type="text" class="form-control" placeholder="Zip code" th:field="*{address.zipCode}">
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Save changes">
                </div>
            </form>
            <hr />
            <h3 class="heading text-capitalize text-center">Update password</h3>
            <form th:action="@{/updatePassword}" method="post" th:object="${person}">
                <div class="form-group">
                    <label th:for="*{password}" class="col-form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required>
                </div>
                <div class="form-group">
                    <label th:for="*{confirmPassword}" class="col-form-label">Confirm password</label>
                    <input type="password" class="form-control" placeholder="Confirm password" th:field="*{confirmPassword}" required>
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Save changes">
                </div>
            </form>
        </div>
    </section>

    <div th:replace="partials/footer :: footer"></div>

    <!-- js -->
    <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
</body>
</html>