<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
  <meta charset="UTF-8" xmlns:th>
  <title>Taxi Cab Booking | Login</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

  <!-- css files -->
  <link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
  <link rel="stylesheet" href="/assets/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
  <!-- //css files -->

  <!-- web-fonts -->
  <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
  <!-- //web-fonts -->
</head>
<body>
<div th:replace="partials/header :: header"></div>

<div class="banner" id="home">
  <div th:replace="partials/secondHeader :: header"></div>
</div>

<section class="py-5">
  <div class="container py-lg-5 py-3">
    <div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}" th:text="${error}"></div>
    <h3 class="heading text-capitalize text-center">Register</h3>
    <form action="/public/createUser" method="post" th:object="${user}">
      <div class="form-group">
        <label for="username" class="col-form-label">Username</label>
        <input type="text" class="form-control" placeholder="Username" th:field="*{username}" id="username" required>
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label">Email</label>
        <input type="email" class="form-control" placeholder="Email" th:field="*{email}" id="email" required>
      </div>
      <div class="form-group">
        <label for="confirmEmail" class="col-form-label">Confirm email</label>
        <input type="email" class="form-control" placeholder="Email" th:field="*{confirmEmail}" id="confirmEmail" required>
      </div>
      <div class="form-group">
        <label for="password" class="col-form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" th:field="*{password}" id="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="col-form-label">Confirm password</label>
        <input type="password" class="form-control" placeholder="Confirm password" th:field="*{confirmPassword}" id="confirmPassword" required>
      </div>
      <div class="sub-w3l">
        <div class="sub-agile">
          <input type="checkbox" id="brand2" value="" required>
          <label for="brand2" class="mb-3">
            <span></span>I accept to the terms & conditions</label>
        </div>
      </div>
      <div class="right-w3l">
        <input type="submit" class="form-control" value="Register">
      </div>
    </form>
  </div>
</section>

<div th:replace="partials/footer :: footer"></div>

<!-- js -->
<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->
</body>
</html>