<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
<title>Taxi Cab Booking | Services</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
<!--	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, -->
<!--	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	
	<!-- css files -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/assets/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/banner-->
<div th:replace="partials/header :: header"></div>
	
	<div class="banner" id="home">
		<!-- header -->
		<div th:replace="partials/secondHeader :: header"></div>
		<!-- //header -->
	</div>
	<!-- //banner -->

<!-- services -->
<section class="services py-5">
	<div class="container py-lg-5">
		<h1 class="heading text-capitalize text-center">Our Services</h1>
		<h5 class="heading mb-5 text-center">Taxi Cab</h5>
		<div class="row service-grids">
			<div class="col-lg-4">
				<h3 class="text-capitalize mb-3">We have a range of vehicles</h3>
				<p class="mb-3">Vestibulum et augue eu nibh tincidunt pretium vitae eget purus. Pellentesque necist urna eleifend, semper eros sed, sollicitudin justo. Nam finibus sollicitudin enim, nec blan ditmi laoreet sed. Morbi auctor purus ac ligula aliquetis vestibulum. Quisque vitae sollicitu dinet augue eu pretium vitae.</p>
			</div>
			<div class="col-lg-2 col-6">
				<img src="/assets/images/1.png" alt="" class="img-fluid" />
				<img src="/assets/images/2.png" alt="" class="img-fluid" />
				<img src="/assets/images/3.png" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-2 col-6">
				<img src="/assets/images/3.png" alt="" class="img-fluid" />
				<img src="/assets/images/1.png" alt="" class="img-fluid" />
				<img src="/assets/images/2.png" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-4">
				<h4 class="text-capitalize"><i class="fas fa-taxi clr1"></i>Luxury Cars</h4>
				<p class="mb-4"> Vestibulum et augue eunibh metus diam.</p>
				<h4 class="text-capitalize"><i class="fas fa-bus clr2"></i>Luxury Vans</h4>
				<p class="mb-4"> Vestibulum et augue eunibh metus diam.</p>
				<h4 class="text-capitalize"><i class="fas fa-car clr3"></i>Luxury Elite</h4>
				<p class="mb-4"> Vestibulum et augue eunibh metus diam laoreet.</p>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- Why taxi cab -->
<section class="why">
	<div class="container-fluid p-md-5 p-3">
		<h3 class="heading text-capitalize text-center">Why taxi cab</h3>
		<h5 class="heading mb-5 text-center">Taxi Cab</h5>
		<div class="row why-grids">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-4 grid1 text-center">
					<h4 class="mx-auto"><span>1</span></h4>
					<p class="mt-5">Top Rated Drivers</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-4 grid2 text-center">
					<h4 class="mx-auto"><span>2</span></h4>
					<p class="mt-5">Safety Journey</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-4 grid3 text-center">
					<h4 class="mx-auto"><span>3</span></h4>
					<p class="mt-5">Without Peak Pricing</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-4 grid4 text-center">
					<h4 class="mx-auto"><span>4</span></h4>
					<p class="mt-5">Fast And Secure</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-md-0 mb-4 grid5 text-center">
					<h4 class="mx-auto"><span>5</span></h4>
					<p class="mt-5">Lowest Rates</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-md-0 mb-4 grid6 text-center">
					<h4 class="mx-auto"><span>6</span></h4>
					<p class="mt-5">Best Quality Cabs</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 mb-sm-0 mb-4 grid7 text-center">
					<h4 class="mx-auto"><span>7</span></h4>
					<p class="mt-5">Online Booking</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="py-5 px-2 grid8 text-center">
					<h4 class="mx-auto"><span>8</span></h4>
					<p class="mt-5">24/7 Cab Service</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Why taxi cab -->

<!-- Cars slider -->
<section class="food-Slider py-5">
	<div class="container py-lg-5">
		<h3 class="heading text-capitalize text-center">Our Taxi Cars</h3>
		<h5 class="heading mb-5 text-center">Taxi Cab</h5>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/1.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/2.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/3.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/1.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/2.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/3.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/1.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/2.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="/assets/images/3.png" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>
<!-- //Cars slider -->
	
<!--footer-->
<div th:replace="partials/footer :: footer"></div>
<!-- //footer -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- stats -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<script src="/assets/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- carousel -->
	<script src="/assets/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="/assets/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- scrollTop -->
	<script type="text/javascript" src="/assets/js/move-top.js"></script>
	<script type="text/javascript" src="/assets/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //scrollTop -->
	
<!-- //js-scripts -->

</body>
</html>